<footer style="">
    <div class="section footer-stripe" >
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    © 2014, All rights reserved
                </div>
                <div class="col-sm-2">
                    <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;707.304.5949
                </div>
                <div class="col-sm-4 text-right social">
                    <a href="#">
                        <img src="/images/social-twitter.png" /></a>
                    <a href="#">
                        <img src="/images/social-facebook.png" /></a>
                    <a href="#">
                        <img src="/images/social-youtube.png" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>
